@import 'variables';


.card__kategorie {
    color: $primary;
    font-size: $baseFontSize;
    font-weight: 400;
    padding: 10px 20px;
    background: $category1;
    display: inline-block;
    border-radius: 50px;
    width: fit-content;
}

.card__title {
    font-size: $titleFontSize;
    font-weight: 500;
    color: $secondary;
}

.card__subtitle {
    font-size: $mainFontSize;
    font-weight: 500;
    color: $secondary;
}


.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 648px;
    width: 100%;
    padding: $defaultPadding;
    background: $primary;
    border-radius: 60px;
    cursor: pointer;
}

.card:hover {
    background: $primaryLight;
}

.payButton {
    max-width: 200px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: $baseFontSize;
    border: none;
    cursor: pointer;
}

.payButton:hover {
    background: $hover;
}

.container__buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.modal__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;
    max-width: 1114px;
    flex-wrap: wrap-reverse;
    width: 100%;
}



.modal__container>div:first-child {
    width: 452px; // Фиксированная ширина для изображения
    flex-shrink: 0; // Запрещаем сжимание
}

.container__right {
    flex-grow: 1; // Занимает всё оставшееся пространство
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Распределяет пространство между элементами
    gap: 20px; // Отступ между элементами
    max-width: 614px;
}

.container__text {
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.container__text p {
    font-size: $mainFontSize;
    color: $secondary;
}

.gekauft {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.gekauft button {
    max-width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-size: $baseFontSize;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .modal__container {
        flex-direction: column;
        align-items: center;
    }

    .gekauft img {
        width: 120px;
        height: 120px;
    }

    .modal__container>div:first-child {
        width: 100%; // Изображение занимает всю ширину
    }
}