@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: $background;
}

.image-container,
.image-container img {
    max-width: 390px;
    margin: auto;
}

@media (max-width: 768px) {

    .image-container,
    .image-container img {
        max-width: 100px;
        max-height: 100px;
    }

    .image-container.modal {
        margin-left: 0;
    }
}