@import 'variables';


.header {
    background: $primary;
    font-family: $font;
    padding: $defaultPadding;
}



.root_container {
    max-width: $maxPageWidth;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}