@import 'variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlayBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: $background;
    padding: $modalPadding;
    border-radius: $defaultBorderRadius;
    max-width: $maxPageWidth;
    width: 100%;
    position: relative;
    margin: $defaultPadding;
    overflow-y: auto;
    max-height: 85vh;
}




.closeButton {
    position: absolute;
    top: $modalPadding;
    right: $modalPadding;
    background: none;
    border: none;
    cursor: pointer;
}